.view-meal-container{
  height:100%;
  width:100%;
  background-color: $green;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bottom-weighted-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align:center;
  height:65%;
  width:100%;
  padding: 20px;
  border-radius:20px;
  background-color: $white;
}
