.category-button, .submit-button{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: $light-gray;
  border: none;
  border-radius: 20px;
  margin: 2px 5px;
  transition: 0.2 ease-in-out;
  // box-shadow: 1px 1px 10px rgba(0,0,0,0.2);

  &:hover{
    background: green;
    color: $white;
  }
}

.active-category{
  background-color: $green;
  color: $white;
  font-weight: bold;
  letter-spacing:2px;
}

.menu-button{
  font-size: 24px;
  cursor: pointer;
}

.submit-button{
  background-color: $green;
}

.hidden{
  opacity: 0;
  pointer-events: none;
}

.increment-button{
  margin: 0 auto;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: $green;
  width: 50%;
  padding: 8px 32px;
  border-radius: 284px;
  font-size: 20px;
  z-index: 5;
}
.increment-counter {
  display:flex;
  justify-content: space-around;
  cursor: pointer;
  width: 20%;
  background-color: $green;
  border: none;
}

.small-increment{
  width: 100px;
  height: 50px;
}


.right-button{
  position: relative;
  left: 175px;
}

.logout-button{
  cursor: pointer;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

.basket-count-button{
  position: absolute;
  font-size: 10px;
  color: rgba(0,0,0,0.6);
  font-weight: lighter;
  background-color: $green;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-radius: 50%;
  top: 15px;
  right: 16px;
  text-align: center;
}

.back-button{
  display:block;
  width: 95%;
  padding: 10px;
  font-size: 26px;
  text-align: left;
  z-index:5;
  a{
    padding: 5px 10px;
    background-color: rgba($black, 0.3);
    border-radius: 50%;
    color: $white;
  }
}