.horizontal-scroll{
  position:relative;
  height:500px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding:10px 20px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  h4{
    margin-top: 10px;
  }

  h4:first-child{
    margin-top:0;
  }
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}


.meal-list-container{
  h4:first-child{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.small-card{
  display:flex;
  flex-direction:column;
  height:150px;
  width:120px;
  box-sizing: border-box;
  margin:8px 5px;
  padding: 0 4px 4px 4px;
  background-color: white;
  border-radius: 20px;
  align-items:center;
  justify-content: space-between;
  text-align:center;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  transition: 0.2s ease-in-out;
  h4{
    display: inline-block;
    font-size:14px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    width: 80%;
  }
  &:hover{
    background-color: $green;
  }
}

.small-card-img{
  width: 120px;
  height: 70px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  margin-bottom: 5px;
}

.lower-container{
  height: 40px;
  h5{
    font-size:12px;
    margin:0;
  }
}
.scroll-container{
  display:flex;
  a{
    color: $black;
    transition: 0.2s ease-in-out;
    &:hover{
      text-decoration:none;
    }
  }
}

.bold-price{
  font-size: 10px;
  color: $green;
  margin-right: 3px;
}

.pop-container{
  position:relative;
  left: -10px;
  width: 107%;
  padding: 5px;
  border-radius:30px;
  background-color: rgba($green, 0.5);
  h4{
    padding: 0;
    margin: 0;
  }
}

.basket-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $white;
  h4{
    overflow:hidden;
    font-size: 18px;
  }
  h5{
    font-size: 20px;
  }
  .small-increment{
    width: 80px;
  }
  .small-increment > .increment-button{
    font-size: 16px;
  }
}

.basket-item-name{
  width: 150px;
  flex-grow: 1;
  box-sizing: border-box;
}
.basket-price{
  width:100px;
  text-align:right;
}

.basket-row-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.basket-row-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid $black;
  margin-top: 10px;
  padding-top:10px;
  font-size: 18px;
}

.basket-row-container{
  max-height: 60%;
  overflow-y: auto;
  background-color: $white;
}

.basket-no-items{
  margin: auto;
}

.order-card-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}


.order-card-price{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}