.top-nav, .bottom-menu{
  width:100%;
  height: 60px;
  // background-color: $green;
  color: $black;
  box-sizing: border-box;
  padding: 16px 26px;

  a{
    color: rgba(0,0,0,0.7);
    text-shadow: rgba(0,0,0,0.5);
  }
  a:hover{
    color:rgba(0,0,0,0.9);
  }
}
.top-nav{
  border-radius:20px 20px 0 0;
}

.bottom-menu{  
  display:flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-size:20px;
  border-radius: 0 0 20px 20px;
}